article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-column-start: var(--article-start);
    grid-column-end: span var(--article-width);
    align-items: normal;
    align-content: normal;
    justify-content: flex-start;

    padding: 6rem 1rem 1rem 1rem;
}