aside{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: normal;
    align-content: normal;
    justify-content: center;


    left: 15dvw;
    width: 15dvw;

    padding: 6rem 1rem 1rem 1rem;
}