header{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    width: 70dvw;
    min-height: 50px;
    max-height: 200px;
    padding: 1rem 2rem;
    left: 15dvw;
    top: 1dvh;

    background-color: rgb(var(--dark-color));
    border-radius: .5rem;
}

header h1{
    font-size: 1.3rem;
    color: rgb(var(--primary-color)) !important;
}

header .logo{
    display: flex;
    align-items: center;
}
header .logo img{
    width: 2rem;
    height: 2rem;
    margin-right: 1em;
}